pipeline/PL_CSV.json
{
	"name": "PL_CSV",
	"properties": {
		"activities": [
			{
				"name": "CPY_CSV",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SP_START_LOG_ENTRY",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "SET_MAPPING_VARIABLE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_CSV_PARQUET",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_CSV_PARQUET_SINK",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LKUP_JOB_DETAILS",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[vb_get_job_dtls]",
						"storedProcedureParameters": {
							"TriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.Trigger",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AZSQL_CSV_META",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "SP_START_LOG_ENTRY",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LKUP_JOB_DETAILS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[vb_start_log_entry]",
					"storedProcedureParameters": {
						"jobid": {
							"value": {
								"value": "@activity('LKUP_JOB_DETAILS').output.firstRow.jobid\n",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"pipeline_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AZSQL_CSV_META",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SET_MAPPING_VARIABLE",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Mapping",
					"value": {
						"value": "{\n    \"type\": \"TabularTranslator\",\n    \"mappings\": [\n        {\n            \"source\": {\n                \"name\": \"review_id\",\n                \"type\": \"String\",\n                \"physicalType\": \"String\"\n            },\n            \"sink\": {\n                \"name\": \"reviewid\",\n                \"type\": \"String\",\n                \"physicalType\": \"UTF8\"\n            }\n        },\n        {\n            \"source\": {\n                \"name\": \"order_id\",\n                \"type\": \"String\",\n                \"physicalType\": \"String\"\n            },\n            \"sink\": {\n                \"name\": \"orderid\",\n                \"type\": \"String\",\n                \"physicalType\": \"UTF8\"\n            }\n        },\n        {\n            \"source\": {\n                \"name\": \"review_score\",\n                \"type\": \"String\",\n                \"physicalType\": \"String\"\n            },\n            \"sink\": {\n                \"name\": \"reviewscore\",\n                \"type\": \"String\",\n                \"physicalType\": \"UTF8\"\n            }\n        },\n        {\n            \"source\": {\n                \"name\": \"review_comment_title\",\n                \"type\": \"String\",\n                \"physicalType\": \"String\"\n            },\n            \"sink\": {\n                \"name\": \"reviewcommenttitle\",\n                \"type\": \"String\",\n                \"physicalType\": \"UTF8\"\n            }\n        },\n        {\n            \"source\": {\n                \"name\": \"review_comment_message\",\n                \"type\": \"String\",\n                \"physicalType\": \"String\"\n            },\n            \"sink\": {\n                \"name\": \"reviewcommentmessage\",\n                \"type\": \"String\",\n                \"physicalType\": \"UTF8\"\n            }\n        },\n        {\n            \"source\": {\n                \"name\": \"review_creation_date\",\n                \"type\": \"String\",\n                \"physicalType\": \"String\"\n            },\n            \"sink\": {\n                \"name\": \"reviewcreationdate\",\n                \"type\": \"String\",\n                \"physicalType\": \"UTF8\"\n            }\n        },\n        {\n            \"source\": {\n                \"name\": \"review_answer_timestamp\",\n                \"type\": \"String\",\n                \"physicalType\": \"String\"\n            },\n            \"sink\": {\n                \"name\": \"reviewanswertimestamp\",\n                \"type\": \"String\",\n                \"physicalType\": \"UTF8\"\n            }\n        },\n    ],\n    \"typeConversion\": true,\n    \"typeConversionSettings\": {\n        \"allowDataTruncation\": true,\n        \"treatBooleanAsNumber\": false\n    }\n}\n",
						"type": "Expression"
					}
				}
			},
			{
				"name": "SP_SUCCESS_LOG_ENTRY",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CPY_CSV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[vb_end_log_entry]",
					"storedProcedureParameters": {
						"error": {
							"value": null,
							"type": "String"
						},
						"jobid": {
							"value": {
								"value": "@activity('LKUP_JOB_DETAILS').output.firstRow.jobid\n",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"pipeline_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AZSQL_CSV_META",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP_FAIL_LOG_ENTRY",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CPY_CSV",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[vb_end_log_entry]",
					"storedProcedureParameters": {
						"error": {
							"value": {
								"value": "@activity('CPY_CSV').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"jobid": {
							"value": {
								"value": "@activity('LKUP_JOB_DETAILS').output.firstRow.jobid",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"pipeline_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AZSQL_CSV_META",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"Trigger": {
				"type": "string",
				"defaultValue": "Tr_sample_csv"
			}
		},
		"variables": {
			"Mapping": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-04-25T12:13:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}