pipeline/PL_REST_API.json
{
	"name": "PL_REST_API",
	"properties": {
		"activities": [
			{
				"name": "RESTAPI COPY",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SP-START-LOG-ENTRY",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"supportRFC5988": "true"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "DS_RESTAPI",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_RESTAPI_SINK_PARQUET",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LKUP_JOB_DETAILS",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[vb_get_job_dtls]",
						"storedProcedureParameters": {
							"TriggerName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.Trigger",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AZSQL_API_METADATA",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "SP-START-LOG-ENTRY",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "LKUP_JOB_DETAILS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[vb_start_log_entry]",
					"storedProcedureParameters": {
						"jobid": {
							"value": {
								"value": "@activity('LKUP_JOB_DETAILS').output.firstRow.jobid",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"pipeline_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AZSQL_API_METADATA",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP-FAIL-LOG-ENTRY",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "RESTAPI COPY",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[vb_end_log_entry]",
					"storedProcedureParameters": {
						"error": {
							"value": {
								"value": "@activity('RESTAPI COPY').error.message",
								"type": "Expression"
							},
							"type": "String"
						},
						"jobid": {
							"value": {
								"value": "@activity('LKUP_JOB_DETAILS').output.firstRow.jobid",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"pipeline_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AZSQL_API_METADATA",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP-SUCESS-LOG-ENTRY",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "RESTAPI COPY",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[vb_end_log_entry]",
					"storedProcedureParameters": {
						"error": {
							"value": null,
							"type": "String"
						},
						"jobid": {
							"value": {
								"value": "@activity('LKUP_JOB_DETAILS').output.firstRow.jobid",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"pipeline_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_AZSQL_API_METADATA",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"Trigger": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-04-26T14:20:02Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}